* {
    touch-action: none;
}

body {
    margin: 0px;
    background-color: #6554AF;
    font-family: 'Lemon', cursive;
    text-align: center;
    color: rgb(31, 28, 34);
    /* a little darker than the title */
    height: 100vh;
    overflow: hidden;
}

.container {
    margin: 0px auto; 
    text-align: center;
    width: 90%;
}

#title {
    font-size: 90px;
    color: #2B2730;
    color: rgb(31, 28, 34); /* darker color */
    /* temp for vertical spacing */
    margin-bottom: 0px;
}

.small-title {
    margin-top: 20px;
    font-size: 70px !important;
}

.transition {
    transition: all 0.5s ease;
}

#instructions {
    font-size: 25px;
    margin: 50px 0px;
}

.controls-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    width: 60%;
    margin: auto;
}

.volume-container {
    grid-row-start: 2;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    background: #f1f0f4;
    border-radius: 20px;
    height: 8px;
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #C4B0FF;
    cursor: pointer;
    border-radius: 50%;
}

.slider::-webkit-slider-thumb:hover {
    background-color: #ad95f5;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #C4B0FF;
    cursor: pointer;
}

.slider::-moz-range-thumb:hover {
    background-color: #ad95f5;
}

#play {
    background-color: #C4B0FF;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    cursor: pointer;

    grid-row: span 2;
    position: relative;
}

#play:hover {
    background-color: #ad95f5;
}

@media (max-width: 830px) {
    #title {
        margin-top: 20px;
        font-size: 70px;
    }

    #instructions {
        margin: 20px 0px;
        font-size: 20px;
    }

    .controls-grid {
        grid-template-columns: 1fr;
        width: 100%;
    }

    #play {
        margin: auto;
        margin-top: 40px;
    }
}

/* remove margin for h2 when title goes on two lines*/
@media (max-width: 499px) {
    h2 {
        margin: 5px 0px;
    }
}

.bi {
    position: absolute;
    color: #2B2730;
}

.bi-play-fill {
    left: 25px;
    top: 6px
}

.bi-music-note-beamed {
    left: 33px;
    top: 35px
}

.hidden {
    display: none;
}

.disable-select {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

#count {
    font-size: 90px;
    margin: 0px;
}

#results {
    background-color: inherit;
}

#chart-container {
    display: flex;
    justify-content: center;
    position: relative;
    height:40vh;
    width:70vw;
    min-width: 200px;
    margin: 0 auto;
}

#retry-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C4B0FF;
    border-radius: 50px;
    width: 150px;
    height: 50px;
    margin: 20px auto;
    cursor: pointer;
    font-size: 22px;
}

#retry-button:hover {
    background-color: #ad95f5;
}

#retry-button > span {
    margin-bottom: 3px;
}

#game-section {
    position: relative;
}

.music-note {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: pop;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    opacity: 0;
    pointer-events: none;
}

@keyframes pop {
0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
}
50% {
    transform: translate(-50%, -50%) scale(1.2);
}
100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
}
}
