* {
    touch-action: none;
}

body {
    margin: 0px;
    background-color: #6554AF;
    font-family: 'Lemon', cursive;
    text-align: center;
    color: rgb(31, 28, 34);
    /* a little darker than the title */
    height: 100vh;
    overflow: hidden;
}

.container {
    margin: 0px auto; 
    text-align: center;
    width: 90%;
}

#title {
    font-size: 90px;
    color: #2B2730;
    color: rgb(31, 28, 34); /* darker color */
    /* temp for vertical spacing */
    margin-bottom: 0px;
}

#instructions {
    font-size: 25px;
    margin: 50px 0px;
}

.controls-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    width: 60%;
    margin: auto;
}

/* media for control grid here */

.tempo-container {
    
}

.volume-container {
    grid-row-start: 2;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    background: #f1f0f4;
    border-radius: 20px;
    height: 8px;
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #C4B0FF;
    cursor: pointer;
    border-radius: 50%;
}

.slider::-webkit-slider-thumb:hover {
    background-color: #ad95f5;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #C4B0FF;
    cursor: pointer;
}

.slider::-moz-range-thumb:hover {
    background-color: #ad95f5;
}

#tempo-slider {

}

#volume-slider {

}

#play {
    background-color: #C4B0FF;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    cursor: pointer;

    grid-row: span 2;
    position: relative;
}

#play:hover {
    background-color: #ad95f5;
}

@media (max-width: 830px) {
    #title {
        margin-top: 20px;
        font-size: 70px;
    }

    #instructions {
        margin: 20px 0px;
        font-size: 20px;
    }

    .controls-grid {
        grid-template-columns: 1fr;
        width: 100%;
    }

    #play {
        margin: auto;
        margin-top: 40px;
    }

    
}

/* remove margin for h2 when title goes on two lines 608*/
@media (max-width: 500px) {
    h2 {
        margin: 5px 0px;
    }
}

.bi {
    position: absolute;
    color: #2B2730;
}

.bi-play-fill {
    left: 25px;
    top: 6px
}

.bi-music-note-beamed {
    left: 33px;
    top: 35px
}

.hidden {
    display: none;
}

.small-title {
    transition: all 0.5s ease;
    margin-top: 20px;
    font-size: 70px !important;
}

.disable-select {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

/* definitely change this */
.note-size {
    width: 150px;
}

@media (max-width: 1000px) {
    .note-size {
        width: 120px;
    }
}

@media (max-width: 600px) {
    .note-size {
        width: 100px;
    }
}

@media (max-width: 400px) {
    .note-size {
        width: 75px;
    }
}

.note {
    position: relative;
}


#count {
    font-size: 90px;
    margin: 0px;
}

#results {
    background-color: inherit;
}

#chart-container {
    display: flex;
    justify-content: center;
    position: relative;
    height:40vh;
    width:70vw;
    margin: 0 auto;
}

/* trying to make chart vertical
@media (max-width: 720px) {
    #chart-container {
        height: 70vh;
        width: 40vw;
    }
} */

#retry-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C4B0FF;
    border-radius: 50px;
    width: 150px;
    height: 50px;
    margin: 20px auto;
    cursor: pointer;
    font-size: 22px;
}

#retry-button:hover {
    background-color: #ad95f5;
}

#retry-button > span {
    margin-bottom: 3px;
}